<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 9</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body Style= "background-color: #EDC7B7">
<div class="container" >
    <h1 style="text-align: center;"> Assignment 9</h1>

    <form action="/showname" method="GET">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">First Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="First Name" name="first_name">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Last Name" name="last_name">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="formGroupExampleInput2" placeholder="Phone Number" minlength="10" name="Phone_number">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Email ID</label>
            <input type="email" class="form-control" id="formGroupExampleInput2" placeholder="Email" name="email">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Password</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="password" name="password">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Date</label>
            <input type="date" class="form-control" id="formGroupExampleInput2" placeholder="DOB" name="date">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Favourite Youtube Video</label>
            <input type="url" class="form-control" id="formGroupExampleInput2" placeholder="URL" name="youtube">
          </div>



    <!-- <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="tel" name="Phone_number" minlength="10" placeholder="Phone Number"> 
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="date" name="date" placeholder="DOB">
    <input type="url" name="Youtube" placeholder="URL"> -->
    <button type="submit" class="btn btn-primary" style="background-color: #AC3B61;" Style="border-color: #AC3B61;" >Submit</button>
    
    </form>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>